doctype 5
html
  head
    title
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/bundle.js')
  body
    #wrap
      #header
        include partials/header

      #picture.view
        include partials/picture

      #album.view
        include partials/album

      #push

    #footer
      include partials/footer