doctype 5
html
  head
    title
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/bundle.js')
  body
    #header
      include partials/header

    #picture.view
      include partials/picture

    #album.view
      include partials/album

    #footer
      include partials/footer