doctype html
html
  head
    title Edegal
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/style.css')
    script(src='/bundle.js', async)

  body
    #wrap
      #header
        ul#breadcrumb(data-bind='foreach: breadcrumb')
          li: a(data-bind='attr: { href: path }, text: title')

      #picture(data-bind='if: activeView() == "picture"')
        div(data-bind='with: pictureViewModel')
          .picture-wrap
            a.prev-link(data-bind='attr: { href: picture().previous }') &laquo;
            a.next-link(data-bind='attr: { href: picture().next }') &raquo;
            img.picture(data-bind='attr: { src: medium().src, width: medium().width, alt: picture().title }')
          a.download-link(target='_blank', data-bind='text: $root.i("Picture view, original picture download link"), attr: { href: original().src }')

      #album(data-bind='if: activeView() == "album"')
        div(data-bind='with: albumViewModel')
          ul#subalbums(data-bind='foreach: album().subalbums')
            li(data-bind='if: $data.thumbnail')
              img.thumb(data-bind='attr: { src: thumbnail.src, width: thumbnail.width, alt: title }')
              a.link(data-bind='attr: { href: path }')
                .title-wrap
                  .title(data-bind='text: title')
          ul#pictures(data-bind='foreach: album().pictures')
            li(data-bind='if: $data.thumbnail')
              img.thumb(data-bind='attr: { src: thumbnail.src, width: thumbnail.width, alt: title }')
              a.link(data-bind='attr: { href: path }')

      #push

    #footer
      p.copyright
        span.album-copyright
        span.edegal-copyright(data-bind='html: $root.i("Edegal copyright footer")')
