p.copyright
  span.album-copyright
  span.edegal-copyright
    | Powered by 
    a(href='https://github.com/japsu/edegal-express', target='_blank') Edegal
    |  &copy; 2013 
    a(href='https://twitter.com/ssspaju', target='_blank') Santtu Pajukanta
    | .