$background-color = #000
$background-hilight = #333
$text-color = #ccc
$hilight-text-color = #fff
$muted-text-color = #666
$muted-hilight-text-color = #999

@import 'nib'

global-reset()

html, body
  margin 0
  padding 0
  height 100%
  font-family Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  font-size 16px
  background-color $background-color
  color $text-color

a, a:visited, a:active
  text-decoration none
  color $hilight-text-color

a:hover
  color white

#header
  background-color $background-hilight
  background linear-gradient(top, $background-hilight 5%, $background-color 95%)
  color $text-color
  padding 15px
  margin-bottom 2px
  width 100%

  a
    color $text-color

  a:hover
    color white

#footer
  background-color $background-hilight
  background linear-gradient(top, $background-color 5%, $background-hilight 95%)

  .copyright
    font-size 13px
    color $muted-text-color
    padding 15px 10px 10px 15px

  a
    color $muted-hilight-text-color

  a:hover
    color white

#wrap
  min-height 100%
  height auto !important
  height 100%
  width 100%
  margin 0 auto -45px

#push, #footer 
  height 45px

#breadcrumb
  margin 0
  padding 0

  li
    display inline-block
    padding 2px

  li:first-child
    font-weight bold
    font-size 20px

  li + li:before
    content " » "

#subalbums, #pictures
  li
    display inline-block
    position relative
    height 240px
    border none

    img
      height 240px

    a
      position absolute
      top 0
      left 0
      margin 0
      padding 0
      display block
      border-left 3px solid $background-color
      width 100%
      height 240px
      color $hilight-text-color

      .title-wrap
        position absolute
        top 190px
        left 0
        width 100%
        height 50px
        background-color black
        background-color rgba(0,0,0,0.6)
        background linear-gradient(top, transparent 5%, black 95%)

        .title
          position absolute
          bottom 10px
          padding 0 10px 0 15px

    a:hover, a:active
      background-color rgba(255,255,255,0.1)

#picture
  position relative

  .prev-link, .next-link
    display block
    height 100%
    width 50%
    font-weight bold
    font-size 144px
    color transparent
    transition color 0.3s

  .prev-link:hover, .next-link:hover, .prev-link:active, .next-link:active
    color $text-color

  .prev-link
    position absolute
    left 0
    padding-left 20px

  .next-link
    text-align right
    position absolute
    right 0
    padding-right 20px

  .picture
    display block
    margin auto