$background-color = #000
$background-hilight = #333

@import 'nib'

global-reset()

html, body
  margin 0
  padding 0
  height 100%
  font-family Helvetica, Arial, sans-serif
  font-size 16px
  background-color $background-color
  color #eee

a
  text-decoration none

#header
  background-color $background-hilight
  background linear-gradient(top, $background-hilight 0%, $background-color 95%)
  color #ddd
  padding 15px
  margin-bottom 2px

  a
    color #ddd

  a:hover
    color white

#footer
  background-color $background-hilight
  background linear-gradient(top, $background-color 5%, $background-hilight 100%)

  .copyright
    font-size 14px
    color #666
    padding 15px 10px 10px 15px

#wrap
  min-height 100%
  height auto !important
  height 100%
  margin 0 auto -45px

#push, #footer 
  height 45px

#login
  float right

#breadcrumb
  margin 0
  padding 0

  li
    display inline-block
    padding 2px

  li:first-child
    font-weight bold
    font-size 20px

  li + li:before
    content " » "

#subalbums, #pictures
  li
    display inline-block
    border-collapse collapse
    background url('../images/example_content_360x240.jpg')

    a
      position relative
      margin 0
      padding 0
      display block
      border-right 3px solid $background-color
      width 357px
      height 240px
      color #eee

      .title-wrap
        position absolute
        top 190px
        left 0
        width 357px
        height 50px
        background-color black
        background-color rgba(0,0,0,0.6)
        background linear-gradient(top, transparent 5%, black 95%)

        .title
          position absolute
          bottom 10px
          padding 0 10px 0 15px

    a:hover, a:active
      background-color rgba(255,255,255,0.1)

