@import 'nib'

global-reset()

html, body
  margin 0
  padding 0
  font-family "Roboto", Arial, Geneva, sans-serif
  font-size 15px
  background-color #111
  color #eee

a
  text-decoration none

#header
  background-color #444
  background linear-gradient(top, #444, #333)
  color #ddd
  padding 15px
  border-bottom 1px solid #333

  a
    color #ddd

  a:hover
    color white

#login
  float right

#breadcrumb
  margin 0
  padding 0

  li
    display: inline

  li:first-child
    font-weight bold
    font-size 20px

  li + li:before
    content " » "

#subalbums, #pictures
  li
    display inline-block
    border-collapse collapse
    background url('../images/example_content_360x240.jpg')

    a
      position relative
      margin 0
      padding 0
      display block
      width 360px
      height 240px
      color #eee

      .title-wrap
        position absolute
        top 190px
        left 0
        width 360px
        height 49px
        background-color rgba(0,0,0,0.8)

        .title
          position absolute
          bottom 10px
          padding 0 5px 0 5px

    a:hover, a:active
      background-color rgba(255,255,255,0.1)

      .title-wrap
        background-color rgba(16,16,16,0.8)
